.portfolio-card {
    padding: 10rem;
    height: 1%;
    background-color: transparent;
}
.portfolio__image {
    max-width: 2rem;
}

@media (min-width: 768px) {
    .portfolio-card {
        padding: 10rem;
        height: 1%;
        background-color: transparent;
    }

}