#portfolio {
 height: 90vh;
 color: white;
padding-top: 2rem;
}

.porfolio-title {
    text-align: center;
    font-size: 2rem;
   

}
.bottom-line-portfolio{
    display: block;
    border-color: yellow;
    content: " ";
    border-bottom-style: solid;
    border-bottom-width: 0.3rem;
    width: 5rem;
    padding-top: 1rem;
    margin: 0 auto;
}
.portfolio-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  

}

@media (min-width: 768px) {
    .porfolio-title {
        font-size: 3rem;

    }
    .portfolio-holder {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

}