.highlight {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;


    

}


.me {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid yellow;
    cursor: pointer;
    transition: all .5s; 
    align-self: center;
  
  
}

.me:hover {
    transform: scale(1.2);
}

.name{
    color: white;
    font-size: 2rem;
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
 
}
.title{
    align-self: center;
    color: #A8B8C2;
    margin-top: 1rem;
    font-size: 1rem;
}

@media (min-width: 768px) {
    .name {
        font-size: 4rem;
    }
    .title {
        font-size: 2rem;
    }

}