.modal {
    z-index: 100;
    position: fixed;
    top: 22vh;
    left: 5%;
    width: 90%;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 8px;
    min-height: 25rem;
    max-height: 25rem;
    display:flex;
    flex-direction: column;
  
 
    
  }
  
  .modal__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 98%;
    padding: 1rem 0.5rem;
    background: rgb(43,44,44);
    color: white;
  }
  .close-modal {
    padding-right: 1rem;
     cursor: pointer;
     color : white;
 }
 .close-modal:focus {
     outline: none;
 }

  .project-name{
    text-align: center;
    margin-top: 0.5rem;
}
  .modal__content {
    padding: 1rem 1rem;
    max-width: 100%;
    min-height: 13rem;
  
  
   
    
    
  }
  
  .modal__footer {
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 100%;
  
  }



  .footer__button {
      background: yellow;
      text-decoration: none;
      margin-right: 1rem;
      padding: 0.5rem; 
      transition: all .5s;
      margin-top: 2rem; 
    

  }
  .footer__button:focus {
    outline: none;
}
.footer__button:hover {
    background: transparent;

}

  
  @media (min-width: 768px) {
    .modal {
      left: calc(50% - 22rem);
      width: 40rem;
      top: 20vh;
     
    }
    .modal__content {
        padding: 1rem 3rem;
        min-height: 8rem;
    }
    .footer__button {
        margin-top: 7rem;
        
  
    }
  }
  
  .modal-enter {
    transform: translateY(-10rem);
    opacity: 0;
  }
  
  .modal-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: all 200ms;
  }
  
  .modal-exit {
    transform: translateY(0);
    opacity: 1;
  }
  
  .modal-exit-active {
    transform: translateY(-10rem);
    opacity: 0;
    transition: all 200ms;
  }

  