#about {
  background: #303131;
  height: 100vh;
  margin-top: 0!important;
  padding-top: 0!important;
   
}

.bottom-line {
  display: block;
  border-color: yellow;
  content: " ";
  border-bottom-style: solid;
  border-bottom-width: 0.3rem;
  width: 6rem;
  padding-top: 1rem;

  
}
